.logo-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:black;
    text-decoration: none;
    }
    .web{
        color: #2196F3;
    }
    .nav-list{
        list-style-type:none;
     
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    

    }
    .nav-list-item:hover{
        
        
        color: #2196F3;
    }
 
    .nav-list-link{
        position: relative;
        color: black;
      
    }
    .nav-list-link::after{
        content: "";
        display: block;
        background-color: #2196F3;
        width: 0;
        height: 4px;
        border-radius: 4px;
        position: absolute;
        top: 44px;
    }
    .nav-list-link:hover::after{
        width: 100%;
        transition: width 250ms ease-out;
    
    
    }

    .nav-list-link:hover{
        color: #2196F3;
    }
    .contact-list{
       font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        list-style-type:none;
    }
    .contact-list a{
        text-decoration: none;
        color: #757575;
    }
     .contact-list a:hover{
        color: #2196F3;
     }
     .header-right{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        width: 333px;
        display: flex;
        justify-content: space-between;
       
        
       
     }
     .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 281px;
     }
     .link{
        
         text-decoration: none;
        color: #757575;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
       
     }
     .link:hover{
        color: #2196F3;
     }
   
    .link:hover .icon-header{
        fill: #2196F3;
    }
    .header-wraper{
        width: 1200px;
        padding: 24px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
     }
     .header-left{
        display: flex;
        width: 520px;
        justify-content: space-between;
        align-items: center;
       
     }
     .icon-header{
        fill: #757575;
        margin-right: 10px;
     }
    