header{
    width: 1600px;
 }
 .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  h1, p, h2, h3, ul {
    margin: 0;
    padding: 0;

  }
  a{
    text-decoration: none;
    
  }
 ul{
    list-style: none;
 }
 
  body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }
  .container{
    width: 1600px;
    margin: 0 auto;
  }
  footer{
    background: #2F303A;
    width: 1600px;
    height: 252px;
    margin: 0 auto;
    
   
}


